main {
    margin-top: 50px;
    padding: 5%;
    border: 6px dashed red;
}
footer {
    margin-top: 15px;
}
p {
    width: 400px;
    height: 2.5em;
    padding: 1em;
    border: 1px solid black;
}

.autoscroll {
    overflow: auto;
}

.clipped {
    overflow: hidden;
}

.default {
    overflow: visible;
}

div {
    width: 60px;
    height: 60px;
    border: 20px solid rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px 0;

    background-size: 140px;
    background-position: center;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-color: gold;
}

.default1 {
    background-clip: border-box;
}
.padding-box {
    background-clip: padding-box;
}
.content-box {
    background-clip: content-box;
}