/* a {
    color: blue;
    font-weight: bold;
}*/

/* 我们想让被访问过的链接和未被访问的链接看起来一样 */

/* a:visited {
    color: blue;
} */

/* 当光标悬停于链接，键盘激活或锁定链接时，我们让链接呈现高亮 */

/* a:hover,
a:active,
a:focus {
    color: darkred;
    text-decoration: none;
} */

ul {
    padding: 0;
}

li {
    padding: 3px;
    margin-bottom: 5px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
    color: red;
}

li:nth-of-type(2n){
    background-color: #ccc;
}

li:nth-of-type(2n+1) {
    background-color: #eee;
}